:root {
  --section-color: #F6F6F6;
  --border-color: #E6E6E6;
  --active-color: #FF3131;
  --text-secondary-color: #C0C0C0;
  --filled-cell-color: #EBECFF;
  --selected-cell-color: #B3B7FF;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}